<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342678470982-sbtrlfgehslv9tmr8c34tjmv8kakdl9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342678470982-sbtrlfgehslv9tmr8c34tjmv8kakdl9n</string>
	<key>API_KEY</key>
	<string>AIzaSyAUyaazzPvTBzXdZRL0IP-X8gqqZL3v_oM</string>
	<key>GCM_SENDER_ID</key>
	<string>342678470982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linhkhoi.flutterinstagram</string>
	<key>PROJECT_ID</key>
	<string>flutterinstagram-27da8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterinstagram-27da8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342678470982:ios:778b89475db5c2e64ba547</string>
</dict>
</plist>